@model IEnumerable<TabelaModel>


<div class="row">
    <div class="col-md-2">
        <form asp-action="Filtrar" asp-controller="Home" method="post">


            <div class="mb-3">
                <label class="form-label">Categorias</label>
                <select name="filtro" class="form-select" asp-items="@(new SelectList(ViewBag.Categorias,"CategoriaId","Nome", ViewBag.Filtros.CategoriaId))">
                    <option value="todos">Todos</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Data de Vencimento</label>
                <select name="filtro" class="form-select" asp-items="@(new SelectList(ViewBag.VencimentoValores, "Key", "Value", ViewBag.Filtros.Vencimento))">
                    <option value="todos">Todos</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Situação</label>
                <select name="filtro" class="form-select" asp-items="@(new SelectList(ViewBag.Status, "StatusId", "Nome", ViewBag.Filtros.StatusId))">
                    <option value="todos">Todos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-outline-primary">Filtrar</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-outline-danger">Limpar</a>

        </form>
    </div>


    <div class="col-md-10">

        <form asp-action="MarcarCompleto" method="post" asp-route-id="@ViewBag.Filtros.FiltroString">

            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Data de Vencimento</th>
                        <th scope="col">Status</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(TabelaModel tarefa in Model){

                        string atrasado = tarefa.Atrasado ? "bg-warning" : "";

                        <tr>
                            <td>@tarefa.Descricao</td>
                            <td>@tarefa.Categoria.Nome</td>
                            <td class="@atrasado">@tarefa.DataVencimento?.ToShortDateString()</td>
                            <td class="@atrasado">@tarefa.Status.Nome</td>
                            <td>
                                @if(tarefa.StatusId == "aberto")
                                {
                                    <button type="submit" 
                                        class="btn btn-outline-primary btn-sm" 
                                        name="@nameof(TabelaModel.Id)" 
                                        value="@tarefa.Id">
                                        Completar
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                                        
                </tbody>
            </table>

        </form>

        <form asp-action="DeletarCompletos">
            <a asp-action="Adiconar" asp-controller="Home" class="btn btn-success">Adicionar Tarefa</a> 
            <button type="submit" class="btn btn-danger">Deletar tarefas completas</button>

        </form>


    </div>
</div>